@theme {
  --color-card-background: rgba(212, 187, 253, 0.2);
  --color-card-border: rgba(212, 187, 253, 0.5);
  --color-alert-red: rgba(255, 76, 76, 1);
  --color-lavande-white: rgba(251, 250, 255, 1);
  --color-medium-black: rgba(17, 17, 17, 0.5);
  --color-pure-black: rgba(17, 17, 17, 1);
  --color-success-green: rgba(50, 205, 50, 1);
  --color-button-background: rgba(255, 215, 0, 0.2);
  --color-button-background-hover: rgba(255, 215, 0, 0.7);
  --color-button-border: rgba(255, 215, 0, 0.5);
  --color-circles: linear-gradient(
    180deg,
    #ebd9fc 0%,
    #9667e0 50%,
    #0a0a52 100%
  );
}
