---
interface Props {
  flexOptions?: string;
}

const { flexOptions = "flex flex-col gap-4 items-start" } = Astro.props;

const styles = `relative ${flexOptions} p-8 rounded-2xl border-[1px] border-[var(--color-card-border)] bg-[var(--color-card-background)] text-[var(--color-lavande-white)]`;
---

<section class={styles}>
  <slot />
</section>
