---
import AboutContainer from "./AboutContainer.astro";
import HeroContainer from "./HeroContainer.astro";
import ProjectsContainer from "./ProjectsContainer.astro";
import ToolsContainer from "./ToolsContainer.astro";
---

<div id="container" class="p-9 grid gap-5">
  <HeroContainer />
  <ProjectsContainer />
  <AboutContainer />
  <ToolsContainer />
</div>
