---
const { subtitle } = Astro.props;
---

<div
  class="font-[NohemiLight] flex justify-center items-center gap-2.5 p-2 rounded-2xl border-[1px] border-[var(--color-card-border)] bg-[var(--color-card-background)] text-[var(--lavande-white)]"
>
  <h2>{subtitle}</h2>
</div>
